.dtc-nav-bar{
    max-height: 70px;
}
.el-dropdown,.el-dropdown-menu__item,.el-select-dropdown__item,.el-radio__label, .el-checkbox-group > * * {
  font-size:16px !important;
}

.p-button.p-button-sm , .p-button-sm {
    font-size: 13px  !important;
    padding: 2px 6px  !important;
}

#app input{
  font-size:1rem !important;
}

