.dtc-list-header {
  background: #646b74;
  height: 42px;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  line-height: 42px;
  margin-bottom: 12px;
  text-align: left;
}

.dtc-nav-bar{
   
    max-height: 70px;
}