#app.light {
  background: var(--light) !important;
  .dtc-door-way-section{
    background: darken($color: #Ffff, $amount: 15) !important;
  }
  .bg-white {
    background: none !important;
  }

  .dtc-nav-bar {
    background: #10579b!important;
    background-image: none !important;
    color: #DBEAFE !important;
    .el-dropdown-selfdefine {
      color: #BFDBFE !important;
    }
  }
 
  .dtc-page-header,
  .dtc-grid-header__divs > div {
    background-image: none !important;
    background: #646b74!important;
    color: #fff;
    //border-color: #9CA3AF !important;
  } 
 
  .dtc-label {
    background: none !important;
    background: #757575 !important;
    color:#fff;
  }
  // input,
  // .el-radio,
  // .dtc-text {
  //   color: white !important;
  //   background: var(--gray-dark) !important;
  //   border: none !important;
  //   @apply ring-2 ring-coolGray-600;
  // }
  // .dtx-prepend {
  //   @apply ring-2 ring-coolGray-600;
  // }
  input {
    @apply focus:ring-1 focus:ring-blue-200;
  }
  .el-radio,
  .dtc-text {
    @apply ring-0;
  }
  .dtc-tabs {
    > * {
      background-image:  none;
      background: var(--gray);
      background-image: none !important;
      color:  lighten(#10579b, $amount: 55) !important;
    }
    .active {
      color: #ffc107 !important;
    }
    &::after {
       background: var(--gray);
    }
  }
  main .basic-info {
    // fix for ray
    background: none !important;
    background: #898b8d !important;
  }
}